torch==2.3.0
torchvision==0.18.0
numpy==1.26.4
ultralytics
colab-env
-e git+https://github.com/ItaloSSantos/boxmot.git@158e03a37e0f2df402850c256ea3e599b0849e49#egg=boxmot
opencv-python
opencv-contrib-python
